{% load static %}
<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Plotly JS -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <title>Battery Recycling Web Applications</title>

    </head>
    <body>

        {% block 'body' %}
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- Tooltip jQuery from Bootstrap -->
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        <!-- JQuery to dynamically toggle all checkboxes -->
        <script>
            // adapted from first answer (by Cameron) at https://stackoverflow.com/questions/38959933/how-to-select-deselect-all-checkboxes-using-jquery-with-a-one-button
            $(function() {
                var checkboxes = $('input.form-check-input');
                checkboxes.change(function() {
                    var allChecked = true;
                    checkboxes.each(function() {
                        if (!$(this).is(':checked')) {
                            allChecked = false;
                        }
                    });
                    if (allChecked == true) {
                        $('#toggleAll').val('Deselect All');
                    } else {
                        $('#toggleAll').val('Select All');
                    }
                });
                $(document).ready(function() {
                    var allChecked = true;
                    var oneChecked = false;
                    checkboxes.each(function() {
                        if (!$(this).is(':checked')) {
                            allChecked = false;
                        } else {
                            oneChecked = true;
                        }
                    });
                    if (allChecked == true) {
                        $('#toggleAll').val('Deselect All');
                    } else {
                        $('#toggleAll').val('Select All');
                        if (oneChecked == true) {
                            checkboxes.removeAttr('required');
                        }
                    }
                });
                $('#toggleAll').click(function() {
                    if ($(this).val() == 'Select All') {
                        checkboxes.removeAttr('required');
                        $('.form-check input').prop('checked', true);
                        $(this).val('Deselect All');
                    } else {
                        checkboxes.attr('required', 'required');
                        $('.form-check input').prop('checked', false);
                        $(this).val('Select All');
                    }
                });
            });
        </script>

        <!-- Javascript for exporting an HTML table to a CSV file -->
        <script>
            // adapted from tutorial at https://www.codexworld.com/export-html-table-data-to-csv-using-javascript/
            function downloadCSV(csv, filename) {
                let csvFile;
                let downloadLink;
                // CSV file
                csvFile = new Blob([csv], {type: "text/csv"});
                // download link
                downloadLink = document.createElement("a");
                // file name
                downloadLink.download = filename;
                // create a link to the file
                downloadLink.href = window.URL.createObjectURL(csvFile);
                // hide the download link
                downloadLink.style.display = "none";
                // add the link to DOM
                document.body.appendChild(downloadLink);
                // click download link
                downloadLink.click();
            }
            function exportTableToCSV(filename) {
                var csv = [];
                var rows = document.querySelectorAll("table tr");
                for (let i = 0; i < rows.length; i++) {
                    var row = [];
                    var columns = rows[i].querySelectorAll("td.plaintext, th");
                    for (let j = 0; j < columns.length; j++)
                        row.push(columns[j].innerText);
                    csv.push(row.join(","));
                }
                // download CSV file
                downloadCSV(csv.join("\n"), filename);
            }
        </script>

        <!-- Javascript for Bootstrap form validation -->
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>

        <!-- JQuery for required checkbox validation -->
        <script>
            // adapted from third answer (by Harshita Sethi) at https://stackoverflow.com/questions/22238368/how-can-i-require-at-least-one-checkbox-be-checked-before-a-form-can-be-submitte/ 
            $(function() {
                var reqCheck = $('input.form-check-input');
                reqCheck.change(function() {
                    if (reqCheck.is(':checked')) {
                        reqCheck.removeAttr('required');
                    } else {
                        reqCheck.attr('required', 'required');
                    }
                });
            });
        </script>

        <!-- Javascript for showing a loading message when the calculation form is submitted -->
        <script>
            function loadingMessage() {
                setTimeout(function() {
                    var check = true;
                    $("input.form-check-input").each(function() {
                        if ($(this).is(":invalid")) {
                            check = false;
                        }
                    });
                    var api = $("#id_USER_API_KEY");
                    var temp = $("#id_T");
                    if (check == true && api.is(":valid") && temp.is(":valid")) {
                        $("#load").removeAttr("hidden");
                    }
                }, 1000);
            }
        </script>

    </body>
</html>